@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
main{
    padding: 20px 50px;
    background-image: url('resources/assets/bg.png');
}
/* normal colors  */
.orange{
    color: orange;
}
.sky-blue{
    color: skyblue;
}
.cyan{
    color: #05D4DF;
}
.violet{
    color: #5D58EF;
}
/* header part works  */
nav{
    display: flex;
    justify-content: space-between;
}
.navlist{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.25rem;
}
.navlist>li>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 125%;
}
.nav-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo-container>span{
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-button{
    background-color: orange;
    color: white;
    width: 9rem;
    border:none ;
    border-radius: 0.75rem;
}
#nav-line{
    padding: 2px;
    color: yellow;
    display: none;
}
#options-button{
    display: none;
}
/* banner portion codes */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.banner-container > img {
    width: 60%;
    height: 100%;
    max-height: 500px;
}
.banner-element-box{
    width: calc(100% - 10px);
    padding: 2rem;
}   
.banner-element-box > h1{
    font-weight:bold;
    font-size: 5vh;
}

.banner-button{
    background-color: black;
    color: white;
    border-radius: 0.75rem;
    padding: 0.7rem 1.5rem;
}
/* curriculam part  */
.curriculam-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.curriculam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:26px;
    
}
.curriculam-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 12px;
    width: 33.33%;
    height: 100%;
    border-radius: 18.88px;
    flex-grow: 1;
}
.curriculam-card > img{
    height: 40%;
    width: auto;
    object-fit: contain;
}
.kinder{
    background-image: linear-gradient(to bottom, #DEF5FF , white);
}
.kinder > button{
    padding: 20px;
    background-color: white;
    color: #64C8FF;
    border: none;
    font-weight: bolder;
}
.elementary{
    background-image: linear-gradient(to bottom, #FFF4DC, white)
}
.elementary > button {
    padding: 20px;
    background-color: white;
    color: #d8b365;
    border: none;
    font-weight: bolder;
}
.middle{
    background-image: linear-gradient(to bottom, #F2E8FF,white);
}
.middle>button{
    padding: 20px;
    background-color: white;
    color: #b097d0;
    border: none;
    font-weight: bolder;
}
.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.arrow-container > i{
    font-size: 32px;
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
}
/* story box works  */
.outer-container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #eac88d, white);
    align-items: center;
    justify-content: center;
    padding-bottom:10px ;
}
.stories-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 30px 50px;
}
.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    width: 40%;
    background-color: white;
    border-radius: 16px;
}
.card1-inner{
    padding: 20px;
}
.card1>img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.card-1_date{
    background-color: #3CD8E8;
    width:150px;
    border-radius: 48px;
    padding: 10px;
    color: white;
    position: relative;
    top: -30px;
    left: 20px;
}


.extra-container{
    display: grid;
    /* grid-template-rows: 18vw 18vw; */
    grid-template-columns: 50vh 50vh;
    gap:30px;
    
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 16px;
    
}
.card>h3{
    padding: 0px 20px;
}
.card>img{
    object-fit: fill;
    width: 100%;
    overflow: hidden;
}
.card2_date,.card3_date,.card4_date,.card5_date{
    border-radius: 48px;
    background-color: #95B226;
    padding: 10px;
    width: 150px;
    color: white;
    position: relative;
    top: -27px;
    left: 30px;
    font-size: 90%;
}
.view_button{
    padding: 15px;
    color: white;
    background-color: black;
    width: 20%;
    border-radius: 12px;
}
footer{
    padding: 40px;
    background-color: #01ACFD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-container{
    width: 400px;
}
.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.logo-box >img{
    height: 100%;
}
.logo-box>span{
    padding: 0px;
}
.logo-box>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-bar{
    list-style-type: none;
    text-align: start;
    padding-left: 0;
}
.about-container,.touch-container,.logo-container{
    color: white;
}

.footer-bar > li > a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:576px){
    .navlist{
        display: none;
    }
    .nav-button{
        display: none;
    }
    #options-button{
        display:block;
    }
    /* work for banner  */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-container > img {
        width: 100%;
        height: fit-content;
    }
    .banner-element-box{
        width: 100%;
        text-align: center;
    }
    /* curriculam box  */
    .curriculam-box{
        flex-direction: column;
    }
    .curriculam-card{
        width: 100%;
    }
    .arrow-container{
        display: none;
    }
    /* story section  */
    .stories-container{
        flex-direction: column;
    }
    .card1{
        display: none;
    }
    footer{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .about-container, .logo-container , .touch-container,.logo-box{
        width: 100%;
        justify-content: flex-start;
    }
    
}